nav(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
  .container.margin-small.nav-container
    .navbar-header
      button(class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded="false", aria-controls="navbar")
        span.sronly.
          Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    //- img(src="/images/PwR_logo_test_1.svg", style="padding-left: 2vw; width: auto; height: 5vh;")
    a(class='navbar-brand', href='/#')
      img(alt="Brand" src="/images/icon.svg", style="height: 60px;")


    ul.nav.navbar-nav.navbar-left
      li
        a(id='about') About
      li
        a(id='team') Team
      li
        a(href='/documentation') Resources
      li
        a(href='/blog') Blog
      if userSignedIn
        li
          a(href='/voxels/#{user.id}') Application
      
    ul.nav.navbar-nav.navbar-right
      if userSignedIn
       li.dropdown
        a(href='/' id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 150px").dropdown-toggle My Account
          <span class="caret"></span>
        ul.dropdown-menu(aria-labelledby="dropdownMenuLink")
          a.li(href='/upload', style="line-height: 30px;").dropdown-item Upload Layers
          br(style="padding-top: 20px;")
          a.li(href='/layers/#{user.id}', style="line-height: 30px;").dropdown-item My Layers
          br
          a.li(href='/voxels/#{user.id}', style="line-height: 30px;").dropdown-item My Projects
          br.spacing
          a.dropdown-item.li(href='/users/signout', style="line-height: 30px;") Logout

      else
        li
          a(href='/users/signup') Sign Up
        li
          a(href='/users/login') Login