extends layout

block pageTitle
  div(class='jumbotron')
    div(class='container')
      .row
        .col-md-8.spacing-large
          h1 About Painting with Data
      .row
          div(class='about_images')
          .col-sm-3
            img(src="http://localhost:3000/images/(1).jpg", style="width:100%; display: inline-block;")
          .col-sm-3
            img(src="http://localhost:3000/images/(2).jpg", style="width:100%; display: inline-block;")
          .col-sm-3
            img(src="http://localhost:3000/images/(3).jpg", style="width:100%; display: inline-block;")
      .row.spacing-large
        p Painting with Data, an open-source web-application is proposed as a first step to constructing urban computing tools that are transparent, open-ended, collective, visual, and non-deterministic, considering the city as a problem of organized complexity. Painting with Data proposes an urban computing tool that moves beyond quantification mechanisms as the primary driver of urban modeling. Alternatively, this thesis proposes an iterative process between the world, its abstractions and representations, and the designer. In this sense, the representational models are generative: they provide a reflective interface that integrates personal perception, cognition, and notation.
  div(class='container')
      .row.spacing-large
        p Painting with Data, utilizes voxels, a computer graphics technique, combined with a graph database as an alternative data representation. Its technological and theoretical features propose a hybrid approach to urban computing, combining functional and representational modeling to provide users with an agency in representation, an ability to compute visually, and to lower the barriers of entry to urban modeling through real-time user interaction. Such models can create intuitions of the relational structures among urban dynamics, providing personal and contextual transparency to the modeling process, and motivating civic engagement in policy-making. 

  div.container
