extends layoutSidePage


block pageTitle
  div.container.spacing-large
    div.container
      .row.spacing-large
         h1.center Blog
//- .row
//-  p This has some useful documentation about Painting with Data. 
