extends layoutSidePage


block pageTitle
  div.container.spacing-large.spacing-blog
    div.container.blogs_container
      .row.spacing-large.spacing-blog
         h1.center Blogs


      .row
          div.col-sm-12.showcase-panel
            div
              a(href="/blog#blog1")
                img(src="posts/post1/images/image2.jpg")
                div.showcase-panel-time.blog-title= "Introducing Painting with Data"


