extends layout

block pageTitle
  div(class='jumbotron')
    div(class='container')
      h1 Documentation
      p This has some useful documentation about Riyadh implementation of Painting with Data. 
