extends layout

block pageTitle
	div.jumbotron
		div.container
			.row.spacing-large
				h1.center Documentation
			.row
				p This has some useful documentation about the Riyadh implementation of Painting with Data. 
