extends layout

block pageTitle
  div(class='jumbotron')
    div(class='container')
      h1 Painting With Data Riyadh!
      p This is a template for the Riyadh implementation of Painting with Data. 
      p
        a(class="btn btn-primary btn-lg", href="/about", role="button").
          Learn more &raquo;

block content
  div.container
    div(class="row")
      div(class="col-md-4")
        h2 Application
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a(class="btn btn-default", href="#", role="button").
            View details &raquo;
      div(class="col-md-4")
        h2 Urban Tribes
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a(class="btn btn-default", href="#", role="button").
            View details &raquo;
      div(class="col-md-4")
        h2 Urban Networks
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a(class="btn btn-default", href="#", role="button").
            View details &raquo;
 