extends layoutSidePage

block pageTitle

  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
  script(src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js")

block content
  .container(style = "margin-top: 80px;")
    #layers

  - const server = { datafiles, id, userSignedIn, user, layerAlert: layerAlert ? true : false}

  script.
    const server = !{JSON.stringify(server)}
    console.log({server})

  script(src="/javascripts/vue/Layers.js")


