extends layout

block pageTitle
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
  script(src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js")
  script(src="/javascripts/js/layers.js")
  script.

  
  .container(style = "margin-top: 10px").spacing-large
    
    .row
      if datafiles.length == 0
        .alert.alert-info(role='alert' style = "margin-top:20px" ) No Datafiles Found  &nbsp; 
          a(href = "/upload")
            strong upload a datafile
      .row
        .col-md-4
          h1 &nbsp;Layers
        .col-md-8(style="padding: 30px;")
          .row
            form(method='post', action='/layers')
              .col-md-9
                input.pull-right.form-control(type='text', name= 'voxelname', placeholder='voxel name...')
                input.form-control.hidden(style="width: 100%", name = "datalayerIds" ,id="selectedLayers", type='hidden', placeholder='Jane Doe')
              .col-md-3
                .input-group-btn
                  button.btn.btn-default(style="width: 100%" ,type='submit') Compute Voxels
              
      .row
      for datafile in datafiles
        
        .col-sm-6.col-md-4
          .thumbnail.datalayer(selected = "false" )
            div(id="map_#{datafile.id}", class = "leafletMap", style="width: 100%; height: 300px; margin:0 auto;")
            .caption
              h3 
              p 
              p
                a.btn.btn-default.btn-block(href='/uploadViewer/#{datafile.id}') View Map


   script(src="/javascripts/user_layer.js")
    
    
            
     
      