doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= 'Painting with Data'

    //indicate that our site is mobile optimized
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="icon", href="/images/pwd_logo.png")
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
    style
      body { margin:0; padding:0; }
      .map { position:absolute; top:0; bottom:0; width:100%; }

    //- //add bootstrap dependencies from CDNjs. Using a CDN to distribute these files puts less pressure
    //- //on our web server and will be delivered faster to the client than our own server.
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src="/javascripts/js/tether.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.27.3/react-bootstrap.js")

    //- link(href='https://www.mapbox.com/base/latest/base.css', rel='stylesheet')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css', rel='stylesheet')

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    //- //reference our site-specific css
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/awesome-bootstrap-checkbox.css')
    link(rel='stylesheet', href='/stylesheets/build.css')
    link(rel='stylesheet', href='/stylesheets/login.css')

    //- link(rel='stylesheet', href='/stylesheets/mystyle.css')




    //- // Mapbox Libraries
    script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js')

    //- // D3 libs
    script(type='text/javascript', src="/javascripts/js/d3.js")
    
    //- // Parallel Coords UI libs
    script(type='text/javascript', src="/javascripts/js/d3.parcoords.js")
    link(rel="stylesheet", type="text/css", href="/stylesheets/d3.parcoords.css")
    
    //- // THREEjs libs
    script(type='text/javascript', src="/javascripts/js/three.js")
    script(type='text/javascript', src="/javascripts/js/Detector.js")
    script(type='text/javascript', src="/javascripts/js/Stats.js")
    script(type='text/javascript', src="/javascripts/js/OrbitControls.js")
    script(type='text/javascript', src="/javascripts/js/THREEx.KeyboardState.js")
    script(type='text/javascript', src="/javascripts/js/THREEx.FullScreen.js")
    script(type='text/javascript', src="/javascripts/js/THREEx.WindowResize.js")
    script(type='text/javascript', src='/javascripts/js/DAT.GUI.min.js')
    
    // Color Widget UI libs
    script(type='text/javascript', src="/javascripts/js/jquery-1.11.3.js")
    script(type='text/javascript', src='/javascripts/js/spectrum.js')
    link(rel='stylesheet', href='/stylesheets/spectrum.css')
    
    // JQuery UI libs
    script(type='text/javascript', src="/javascripts/js/jquery-ui.js")
    link(rel="stylesheet", href="/stylesheets/jquery-ui.css")

    // PaintingWithData CSS
    link(rel='stylesheet', href='/stylesheets/base.css')

    // Bootstrap JS libs
    script(type='text/javascript', src="/javascripts/js/bootstrap.min.js")    

  body
    block navBar
      include ./partials/navbar

    block pageTitle
    block content

    hr

    div.footer
      p &copy; Carlos Sandoval Olascoaga 2017.

script.
  $('.dropdown').on('show.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
  });

  $('.dropdown').on('hide.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
  });

  jQuery('ul.nav li.dropdown').hover(function() {
    jQuery(this).find('.dropdown-menu').first().stop(true, true).slideDown();
    }, function() {
      jQuery(this).find('.dropdown-menu').first().stop(true, true).slideUp();
      });

   $(document).ready(function() {
    var height = $(".navbar").height();
    $(".dropdown-menu").top(height);
  });
    
