doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= 'PaintingWithData'

    //indicate that our site is mobile optimized
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="icon", href="/favicon.ico")

    style
      body { margin:0; padding:0; }
      .map { position:absolute; top:0; bottom:0; width:100%; }

    //- //add bootstrap dependencies from CDNjs. Using a CDN to distribute these files puts less pressure
    //- //on our web server and will be delivered faster to the client than our own server.
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src="/javascripts/js/tether.min.js")

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    //- //reference our site-specific css
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/awesome-bootstrap-checkbox.css')
    link(rel='stylesheet', href='/stylesheets/build.css')
    link(rel='stylesheet', href='/stylesheets/login.css')


    //- // D3 libs
    script(type='text/javascript', src="/javascripts/js/d3.js")
    
    //- // Parallel Coords UI libs
    script(type='text/javascript', src="/javascripts/js/d3.parcoords.js")
    link(rel="stylesheet", type="text/css", href="/stylesheets/d3.parcoords.css")
    
    //- // THREEjs libs
    script(type='text/javascript', src="/javascripts/js/three.js")
    script(type='text/javascript', src="/javascripts/js/Detector.js")
    script(type='text/javascript', src="/javascripts/js/Stats.js")
    script(type='text/javascript', src="/javascripts/js/OrbitControls.js")
    script(type='text/javascript', src="/javascripts/js/THREEx.KeyboardState.js")
    script(type='text/javascript', src="/javascripts/js/THREEx.FullScreen.js")
    script(type='text/javascript', src="/javascripts/js/THREEx.WindowResize.js")
    script(type='text/javascript', src='/javascripts/js/DAT.GUI.min.js')
    
    // Color Widget UI libs
    script(type='text/javascript', src="/javascripts/js/jquery-1.11.3.js")
    script(type='text/javascript', src='/javascripts/js/spectrum.js')
    link(rel='stylesheet', href='/stylesheets/spectrum.css')
    
    // JQuery UI libs
    script(type='text/javascript', src="/javascripts/js/jquery-ui.js")
    link(rel="stylesheet", href="/stylesheets/jquery-ui.css")

    // PaintingWithData CSS
    link(rel='stylesheet', href='/stylesheets/base.css')

    // Bootstrap JS libs
    script(type='text/javascript', src="/javascripts/js/bootstrap.min.js")    

  body
    block navBar
      nav(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
        .container.margin-small.nav-container
          .navbar-header
            button(class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded="false", aria-controls="navbar")
              span.sronly.
                Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          //- img(src="/images/PwR_logo_test_1.svg", style="padding-left: 2vw; width: auto; height: 5vh;")
          a(class='navbar-brand', href='/#') Painting With Data  

          ul.nav.navbar-nav.navbar-right
            li
              a(href='/about') About
            li
              a(href='/documentation') Documentation
            if userSignedIn
              li
                a(href='/upload') Upload Data
              li
                a(href='/app') Application
            
          ul.nav.navbar-nav.navbar-right
            if userSignedIn
              li
                a(href='/layers/#{user.id}') #{user.email}
              li 
                a(href='/users/logout') Logout
            else
              li
                a(href='/users/signup') Sign Up
              li
                a(href='/users/login') Login

    block pageTitle
    block content

    hr
    div.footer
      p &copy; Carlos Sandoval Olascoaga, CDDL, KACST 2016.
    
