doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= 'Painting with Data'

    //indicate that our site is mobile optimized
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="icon", href="/images/pwd_logo.png")
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
    style
      body { margin:0; padding:0; }
      .map { position:absolute; top:0; bottom:0; width:100%; }

    //- //add bootstrap dependencies from CDNjs. Using a CDN to distribute these files puts less pressure
    //- //on our web server and will be delivered faster to the client than our own server.
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src="/javascripts/js/tether.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.27.3/react-bootstrap.js")

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    //- //reference our site-specific css
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/awesome-bootstrap-checkbox.css')
    link(rel='stylesheet', href='/stylesheets/build.css')
    link(rel='stylesheet', href='/stylesheets/login.css')


    //- // D3 libs
    script(type='text/javascript', src="/javascripts/js/d3.js")
    
    //- // Parallel Coords UI libs
    script(type='text/javascript', src="/javascripts/js/d3.parcoords.js")
    link(rel="stylesheet", type="text/css", href="/stylesheets/d3.parcoords.css")
    
    //- // THREEjs libs
    script(type='text/javascript', src="/javascripts/js/three.js")
    script(type='text/javascript', src="/javascripts/js/Detector.js")
    script(type='text/javascript', src="/javascripts/js/Stats.js")
    script(type='text/javascript', src="/javascripts/js/OrbitControls.js")
    script(type='text/javascript', src="/javascripts/js/THREEx.KeyboardState.js")
    script(type='text/javascript', src="/javascripts/js/THREEx.FullScreen.js")
    script(type='text/javascript', src="/javascripts/js/THREEx.WindowResize.js")
    script(type='text/javascript', src='/javascripts/js/DAT.GUI.min.js')
    
    // Color Widget UI libs
    script(type='text/javascript', src="/javascripts/js/jquery-1.11.3.js")
    script(type='text/javascript', src='/javascripts/js/spectrum.js')
    link(rel='stylesheet', href='/stylesheets/spectrum.css')
    
    // JQuery UI libs
    script(type='text/javascript', src="/javascripts/js/jquery-ui.js")
    link(rel="stylesheet", href="/stylesheets/jquery-ui.css")

    // PaintingWithData CSS
    link(rel='stylesheet', href='/stylesheets/base.css')

    // Bootstrap JS libs
    script(type='text/javascript', src="/javascripts/js/bootstrap.min.js")    

  body
    block navBar
      nav(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
        .container.margin-small.nav-container
          .navbar-header
            button(class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar', aria-expanded="false", aria-controls="navbar")
              span.sronly.
                Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          //- img(src="/images/PwR_logo_test_1.svg", style="padding-left: 2vw; width: auto; height: 5vh;")
          a(class='navbar-brand', href='/#')
            img(alt="Brand" src="/images/010217_pwd_logo.png", style="height: 60px;")


          ul.nav.navbar-nav.navbar-left
            li
              a(href='/about') About
            li
              a(href='/documentation') Documentation
            if userSignedIn
              li
                a(href='/app') Application
            
          ul.nav.navbar-nav.navbar-right
            if userSignedIn
             li.dropdown
              a(href='/' id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 150px").dropdown-toggle My Account
                <span class="caret"></span>
              ul.dropdown-menu(aria-labelledby="dropdownMenuLink")
                a.li(href='/upload', style="line-height: 30px;").dropdown-item Upload Layers
                br(style="padding-top: 20px;")
                a.li(href='/layers/#{user.id}', style="line-height: 30px;").dropdown-item My Layers
                br
                a.li(href='/voxels/#{user.id}', style="line-height: 30px;").dropdown-item My Voxels
                br.spacing
                a.dropdown-item.li(href='/', style="line-height: 30px;") Logout

            else
              li
                a(href='/users/signup') Sign Up
              li
                a(href='/users/login') Login

    block pageTitle
    block content

    hr

    div.footer
      p &copy; Carlos Sandoval Olascoaga, CDDL, KACST 2016.

script.
  $('.dropdown').on('show.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
  });

  $('.dropdown').on('hide.bs.dropdown', function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
  });

  jQuery('ul.nav li.dropdown').hover(function() {
    jQuery(this).find('.dropdown-menu').first().stop(true, true).slideDown();
    }, function() {
      jQuery(this).find('.dropdown-menu').first().stop(true, true).slideUp();
      });

   $(document).ready(function() {
    var height = $(".navbar").height();
    $(".dropdown-menu").top(height);
  });
    
