extends layout


.container.spacing-large #{progress-widget}
    h1 progress widget
    .row-spacer
    h2 jobs in progress
    .row-spacer
    div #{jobList}
        ul

    


  script(src="/javascripts/progressWidget.js")
