extends layoutSidePage


block pageTitle
  div.container.spacing-large.spacing-blog
    div.container.blogs_container
      .row.spacing-large.spacing-blogs
         h1.center Tutorials


      .row
          div.col-sm-4.showcase-panel.blog-panel
            a(href="/documentation#post1")
              div.blog-img-wrapper(id = "265052541")
              div.showcase-panel-time.blog-title= "How to Sign up to Painting with Data"
              img(src="images/play-300x300.png", class="play-btn")

          div.col-sm-4.showcase-panel.blog-panel
            a(href="/documentation#post2")
              div.blog-img-wrapper(id = "297608777")
              div.showcase-panel-time.blog-title= "How to Upload a Dataset"
              img(src="images/play-300x300.png", class="play-btn")

          div.col-sm-4.showcase-panel.blog-panel
            a(href="/documentation#post3")
              div.blog-img-wrapper(id = "293871649")
              div.showcase-panel-time.blog-title= "How to Create a Project"
              img(src="images/play-300x300.png", class="play-btn")