extends layoutSidePage


block pageTitle
  div.container.spacing-large.spacing-blog
    div.container.blogs_container
      .row.spacing-large.spacing-blogs
         h1.center Tutorials


      .row
          div.col-sm-4.showcase-panel.blog-panel
            a(href="/blog#post1")
              div.blog-img-wrapper
                  img(src="posts/post1/images/image2.jpg")
              div.showcase-panel-time.blog-title= "Introducing Painting with Data"

          div.col-sm-4.showcase-panel.blog-panel
            a(href="/blog#post2")
              div.blog-img-wrapper(id = "265052541")
              div.showcase-panel-time.blog-title= "How to Sign up to Painting with Data"
              img(src="images/play-300x300.png", class="play-btn")

          div.col-sm-4.showcase-panel.blog-panel
            a(href="/blog#post3")
              div.blog-img-wrapper(id = "269992410")
              div.showcase-panel-time.blog-title= "How to Upload Data"
              img(src="images/play-300x300.png", class="play-btn")
