extends layout

block pageTitle

  div.container.spacing-large
      .row.spacing-large
         h1.center Upload Data

      if (uploadAlert)
        .alert.alert-danger(role='alert') #{uploadAlert}

      .row
        .col-md-6.col-md-offset-3
          h4.spacing-large.text-center Upload a shapefile* to create a new data layer. The shapefile should include numerical attribute data that you’d like to visualize. After you upload the file, you will be prompted to provide a name, location and description of your layer and to select a data attribute for your layer to represent. Each layer can represent one attribute.
      .row
        .col-md-6.col-md-offset-3.text-center
          p.note *Currently, Painting with Data supports polygon shapefiles only. Shapefiles must be compressed in a ZIP file. <br>The ZIP file should include these files:
          p.note .dbf file
          p.note .prj file
          p.note .shp file
          p.note .shx files
          br
          p.note Do not include /shd.xml file in the ZIP.
      .row
        h3.spacing.text-center
          label(for="file-selector").btn.btn-gray.btn-jumbotron.custom-upload Add File
            input(id="file-selector",  name = "zip_file", type="file")
        p.text-center
          a(class="btn btn-lg btn-gray btn-jumbotron hidden", id="upload", name="upload", role="button", style="width: 100px") Upload
          
      .row.spacing  
          div.progress.hidden(style="backround-color: white")
            div(class="progress-bar progress-bar-warning" role="progressbar", style="width: 100%").
              Uploading File ...


  script(src="/javascripts/fileUpload.js")

          
          


