extends layout

block pageTitle
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
  script(src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js")
  script(src="/javascripts/js/layers.js")
  script.

    
  .container(style = "margin-top: 50px")
    .row
      if datavoxels.length == 0
        .alert.alert-info(role='alert' style = "margin-top:20px" ) No Datafiles Found  &nbsp; 
          a(href = "/layers")
            strong build a datavoxel!

      for datavoxel in datavoxels
        .col-sm-4.col-md-4.datalayer(selected = "false" style = "margin-top:20px")
          .post
            .post-img-content

              div
                img(style= "width: 300px" src="http://www.worldpress.org/images/maps/world_600w.gif")
              span.post-title
              .layerName
            .content
              

              .property

              .epsg
              .description
                
              div

                a.btn.btn-warning.btn-sm(href='/uploadViewer/#{datavoxel.id}') View Map
    form.form-inline.pull-right(method='post', action='/layers')
      .form-group
        input.form-control(name = "datalayerIds" ,id="selectedLayers", type='hidden', placeholder='Jane Doe')
        button.btn.btn-default(type='submit') Open Voxels
