.mainWindow {
    padding: 1em;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
}

/*General Components*/

.mapMain {
    position: relative;
}

.sidebar {
    width: 300px;
    background-color: white;
    overflow: auto;
    position: fixed;
    left:0;
    top:80px;
    bottom: 0;

    -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.2);
}

.map {
    width: 80vw;
    position: fixed;
    right:0;
    top:50px;
    bottom: 0;
    z-index:-1;
}

.map canvas {
    position:fixed;
    right:0;
    top:50px;
    bottom: 0;
    z-index:-1;
}

.options--react {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: calc(100vw - 300px);
    left: 300px;
    background-color: #F9CBC2;
}

/*Options*/

.optionsButton {
    background-color: blue;
    color: white;
    width:2em;
    height:2em;
    text-align: center;
    position: absolute;
    bottom:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionsForm {
    transition: height 0.5s, width 0.5s;
    overflow: hidden;
    display: flex;
    padding:1em;
}

.layers__single {
    background-color: white;
    /*border: 1px solid #f16752;*/
    border-bottom: 2px solid #F9CBC2;
    /*border-top: 4px solid #f16752;*/
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;

    font-size: 11pt;
}

.layer-label {
    font-size: 11pt;
    font-family: 'Overpass', sans-serif;
    padding: 0;
    text-transform: none;
}

.sidebar__box--name {
    background-color: white;
    text-align: center;
    display: block;
    font-family: 'Overpass', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #F9CBC2;
    color: black;
    font-size: 14pt;
    text-transform: uppercase;

    border-bottom: 4px solid #F9CBC2;
}

/*Arrows*/
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

/*Checkbox*/
input[type=checkbox]{
  margin-left: 5px;
  margin-right: 5px;
}

input[type="color" i] {
    margin: 0;
    border: 1px solid white;
    background-color: transparent;
    padding-right: 5px;
    padding-left: 0;
    width: 25px;
    height: 25px;
    display: inline-block;

    -webkit-appearance: none;
}

/* Opacity Slider */
.opacity-slider, .knn-slider {
    text-align: center;
    padding-top: 10px;
    width: 100%;
    margin: 0;

    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sliders {
    bottom: 0;
    position: absolute;
}

.slider-label {
    font-size: 9pt;
    font-family: 'Overpass', sans-serif;
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}