/*@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600,900);*/
@import url(https://fonts.googleapis.com/css?family=Karla:400,500,700,300);
@import 'https://fonts.googleapis.com/css?family=EB+Garamond';
@import 'https://fonts.googleapis.com/css?family=Karla:400,700';
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext');

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(50, 50, 50, 0.3);
}

::-webkit-scrollbar-thumb
{
  background: rgba(100, 100, 100, 0.9);
}

/*body 
{
    font-family: Monospace;
    font-weight: bold;
    background-color: #ccccff;
    margin: 0px;
    overflow: hidden;
}*/

#graphMaker{
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 20%;
    width: 80%;
    z-index: 2; 
    background-color: rgb(255,255,255);
    opacity: .25;   
}

#graphMakerControls{
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 20%;
    width: 80%;
    z-index: 3;
    opacity: 1; 
}

#slider1 {
    position: absolute;
    bottom: 300px;
    left: 400px;    
    width: 150px;
}

#title {
    position: absolute;
    z-index: 1;
}

#ThreeJS {
    position: absolute;
    left: 20%;
    top: 0px;
    /*bottom: 30px;*/
}

#parallelData {
    position: absolute;
    width:80%;
    height:200px;
    z-index:2;
    bottom: 30px;
    left:20%;
    opacity: .70;
}

#show {
    width:100px;
    position: absolute;
    z-index: 4;
    right: 0px;
}

#graphShow {
    position: absolute;
    /*bottom: 10px;*/
    width:100px;
    z-index: 10;
    right: 102px;
}

#somShow {
    position: absolute;
    width:100px;
    z-index: 4;
    right: 204px;
}

#appTittle {
    position: absolute;
    z-index: 5;
    font-size: 30px;
    width: 20%;
    top: 25px;
    left: 7px;
    font-family: 'Karla', sans-serif;
    font-weight: bolder;
    color: black;
    text-align: left;
    vertical-align: middle;
}

#accordion {
    position: absolute;
    z-index: 5;
    width: 20%;
    right: 80%;
    bottom: 7vh;
    top: 10vh; /* height of navbar */
    /*background-color: rgb(245,165,3);*/
    /*border-top: 1px solid rgba(233, 241,223, 1);*/
    -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.2);
}

#accordion .ui-accordion-content {
    /*background-color: rgb(240,240,240);*/
    /*background-color: rgba(253, 232,172, 1);*/
    /*background-color: #FFB899;*/
    background-color: white;
    /*border-right: 5px solid #2D6A65;*/
    line-height:  14pt;
    margin: 0;
    padding: 8px;
}

#accordion .ui-accordion-header {
    background-color: #FFAB91;
    margin: 0 0 0 0;
    height: 7vh;
    color: white;
    text-align: right;
    font-size: 17px;
    font-family: 'Karla', sans-serif;
    font-weight: medium;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0px;
    padding-left: 8px;
    padding-right: 1vw;
    padding-top: 4px;
    line-height: 7vh;
    border: none;
    
/*    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    border-right: 1px solid rgba(233, 241,223, 1);
    border-left: 1px solid rgba(233, 241,223, 1);
    border-bottom: 1px solid rgba(233, 241,223, 1);
    border-top: 1px solid rgba(233, 241,223, 1);*/
}

#graphLayers {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

#textNeighbors{
/*    position: relative;
    right: 161px;
    bottom: 3px;
    color: rgb(76,76,76);*/
    float: right;
}

.dataText{
    right: 32px;
}

.graphText{
    right: 127px;  
}

.somText{
    right: 238px;  
}

.about_images div {
  display: inline-block;
}

.top{
    background: #FA7951;
    position: absolute;
    top: 0;
    width: 19.9%;
    height:100px;
    z-index: 4;
    border-right: 1px solid rgba(233, 241,223, 1);
    border-bottom: 1px solid rgba(233, 241,223, 1);
}

.bottom {
    background-color: #D34031;
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 80%;
    height:7vh;
    z-index: 4;
}

.options {
    background: rgb(210,210,210);
    position: absolute;
    width: 20%;
    left: 0;
    top: 30px;
    bottom: 0px;
    z-index: 2;
}

label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.layerBoxes{
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.resetLayer{
    font-size: .08em;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    width: 20px;
    line-height: 8pt;
    background-color: #D34031;
    color:white;
    text-align: center;
    text-transform: uppercase;
}

.resetLayer:hover {
    background-color: #E5B5AA;
}

.showPaletteOnly {
    position: absolute;
    float: right;
}

.btn {
    border-radius: 0;
    padding: 6px 0;
}

.sp-palette {
    max-width: 10px;
}

.bottomWidgets {
    position: absolute;
    left: 20%;
    bottom: 0;
    width: 80%;
    height: 7vh;
    z-index: 4;
    /*padding-top: 1vh;*/
    line-height: 5vh;
    vertical-align: center;
    display: block;
}

.bottomOptions {
    position: relative;
    z-index: 2;
    left: 2vw;
    height: 7vh;
}

.gridStatus label{
    /*position: relative;*/
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    color: white;
}

.gridBox {
    align-content: middle;
}

.threeD {
    position: relative;
    z-index: 2;
    left: 0px;
    padding-left: 9px;
}

.bottomOptions label{
    position: relative;
    font-size: 14px;
    line-height: 7vh;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    color: white;
    bottom: 0px;
    padding-left: 7px;
}

.bottomBox {
    position: relative;
    left: 7px;
    bottom: -1px;
}

input[type=checkbox]{
  margin-left: 5px;
  margin-right: 5px;
}

.sliderCell {
    position: relative;
    height: 7vh;
}

.basicSliders {
    position: relative;
    width: 80%;
    height: 12px;
    right: 0px;
    float: left;
}

.slidersBottom {
    position: absolute;
    width: 80%;
    height: 12px;
    right: 0px;
    float: left;
}

.neighborSliders {
    position: relative;
    width: 80%;
    height: 12px;
    right: 0px;
    float: left;
}

.slidersText {
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}

.sliderName {
    display: inline;
    float: left;
    line-height: 20px;
}

.sliderValue{
    display: inline;
    padding-left: 5px;
    font-size: 13px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    color: black;
    height: 5vh;
    float: none;
}

.rangeSliders  {
    position: relative;
    width: 55%;
    height: 10px;
    right: 0px;
    float: right;
}

.slidersOpacity  {
    position: relative;
    width: 100%;
    height: 3vh;
    top: 4px;
    right: 0px;
}

#allOpacity {
    padding-top: 3vh;
}

#allNeighbors {
    padding-top: 3vh;
    padding-bottom:  3vh;
    position: relative;
    /*height: 3vh;*/
    width: 80%;
    /*top: 4px;*/
    right: 0px;
    float: left;
}

#opacityName {
    padding-right: 2px;
}

.slidersOpacity.ui-slider .ui-slider-handle {
    width:.62em;
    height: .62em;
}

.slidersOpacity.ui-slider-horizontal .ui-slider-handle {
    top: -.15em;
}

.layerName {
    position: center;
    float: left;
    line-height: 20px;
    width: 60%;
}

.ui-slider .ui-slider-handle {
    width:1em;
    height: 1em;
    /*text-decoration:none;*/
    /*text-align:center;*/
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.17em;
    /*margin-left: -.6em;*/
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

.nodes {
    font-size: 12px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: rgb(100,100,100);
    position: relative;
    width: 80%;
    text-align: left;
    margin: 0;
}

.nodes ul p {
    /*border-bottom: 2px solid rgba(0,0,0,0);*/
    margin-bottom: 0;
    margin-top: -10px;
    font-family: 'Karla', sans-serif;
}

.nodeNamesSelected {
	/*border-bottom: 2px solid #f55 !important;*/
	width: 100%;
	margin:0 auto;
}

.nodes ul p:hover {
	background-color: rgba(100,100,100,0.3);
	cursor: pointer;
}

.copyright {
	font-size: 10px;
	color: rgb(100,100,100);;
    bottom: 8vh;
    position: absolute;
    right: 10px;
    z-index: 1;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    /*border: 1px solid #003eff;*/
    /* background: #007fff; */
    font-weight: normal;
    color: #ffffff;
}

.buttons {
    height:7vh;
    bottom: 0px;
    line-height: 5vh;
    border-radius: 0;
    z-index: 5;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    vertical-align: middle;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #D34031;
}

ul a:hover.buttons {
	background-color: #B2322B;
	cursor: pointer;
    color: white;
}

.tooltip {
    background-color: transparent;
    height: auto;
    display: block;
    text-align: center;
    font-family: 'Karla', sans-serif;
    width: 5vw;
}

.mydiv {
    /*float: left;*/
    margin: 0px;
    height: 22px;
    margin-top: 10px;
    transform: translateY(-18%);
    overflow: hidden;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    font-family: 'Karla', sans-serif;
}

.mydiv .rightAlign {
    text-align: right;
    float: right;
}

.layerBoxes {
    display: block;
    float: left;
    width: 100%;
    /*border-top: 1px solid white;*/
    padding-top: 1px;
    margin-top: -2px;
    font-family: 'Karla', sans-serif;
}

.layerBoxes button {
    /*padding: 0px !important;*/
    /*height: 18px !important;*/
    font-family: 'Karla', sans-serif;
    font-size: 11px;
    font-weight: 300;
    width: 17%;
    float: right;
    text-align: center;
}

.layerBoxes input {
    /*padding: 0px !important;*/
    /*height: 15px !important;*/
    width: 6%;
    position: relative;
    top: 100%;
    /*transform: translateY(-50%);*/
}

.buttonsText {
    /*position: absolute;*/
    /*z-index: 10;*/
    /*bottom: 0;*/
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    vertical-align: middle;
    color: white;
    text-align: center;
}

.sp-replacer{
    width: 6%;
    position: relative;
    top: 50%;
    /*transform: translateY(-50%);*/
}

.sliderCell.opacity {
    position: relative;
    padding-bottom: 10px;
}

/*@media (min-width: 768px)*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -52px;
}
.navbar-inverse .navbar-brand {
    color: white;
}

/*.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}*/

.navbar-brand {
    float: left;
    height: 50px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}
