/*@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600,900);*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
@import 'https://fonts.googleapis.com/css?family=EB+Garamond';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=latin-ext');

::-webkit-scrollbar
{
  width: 7px;  /* for vertical scrollbars */
  height: 7px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0,0,0,0.05);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

/*body 
{
    font-family: Monospace;
    font-weight: bold;
    background-color: #ccccff;
    margin: 0px;
    overflow: hidden;
}*/

#graphMaker{
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 20%;
    width: 80%;
    z-index: 2; 
    background-color: rgb(255,255,255);
    opacity: .25;   
}

#graphMakerControls{
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 20%;
    width: 80%;
    z-index: 3;
    opacity: 1; 
}

#slider1 {
    position: absolute;
    bottom: 300px;
    left: 400px;    
    width: 150px;
}

#title {
    position: absolute;
    z-index: 1;
}

#ThreeJS {
    position: absolute;
    left: 20%;
    top: 0px;
    /*bottom: 30px;*/
}

#parallelData {
    position: absolute;
    width:80%;
    height:200px;
    z-index:2;
    bottom: 30px;
    left:20%;
    opacity: .70;
}

#dataShow {
    width:120px;
    position: absolute;
    z-index: 4;
    right: 0px;
}

#graphShow {
    position: absolute;
    /*bottom: 10px;*/
    width:120px;
    z-index: 10;
    right: 120px;
}

#zoomShow {
    position: fixed;
    /*bottom: 10px;*/
    width:120px;
    z-index: 100000;
    right: 240px;
    bottom: 0;
}

#mapStyleOptionsButton{
    width: 180px;
    position: absolute;
    z-index: 10;
    left: 0px;
    bottom: 0px;
}

#mapStyleOptions{
    width: 180px;
    position: absolute;
    margin: 4px 0px;
    text-align: center;
    z-index: 4;
    left: 190px;
    bottom: 0px;
}

#mapStyleOptions button{
    width: inherit;
}

#mapStyleOptions .dropdown-menu{
    background-color: white;
}

#add-node-dropdown{
    /* top: 10px; */
    /* padding: 6px 12px; */
}

.map-menu ul{
    background-color: white;
    /* top: 45px; */
}

#somShow {
    position: absolute;
    width:100px;
    z-index: 4;
    right: 204px;
}

#appTittle {
    position: absolute;
    z-index: 5;
    font-size: 30px;
    width: 20%;
    top: 25px;
    left: 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: black;
    text-align: left;
    vertical-align: middle;
}

#accordion {
    position: absolute;
    z-index: 5;
    width: 20%;
    right: 80%;
    bottom: 7vh;
    top: 10vh; /* height of navbar */
    /*background-color: rgb(245,165,3);*/
    /*border-top: 1px solid rgba(233, 241,223, 1);*/
    -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.2);
}

#accordion .ui-accordion-content {
    /*background-color: rgb(240,240,240);*/
    /*background-color: rgba(253, 232,172, 1);*/
    /*background-color: #FFB899;*/
    background-color: white;
    /*border-right: 5px solid #2D6A65;*/
    line-height:  14pt;
    margin: 0;
    padding: 8px;
}

#accordion .ui-accordion-header {
    background-color: #FFAB91;
    margin: 0 0 0 0;
    height: 7vh;
    color: white;
    text-align: right;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0px;
    padding-left: 8px;
    padding-right: 1vw;
    padding-top: 4px;
    line-height: 7vh;
    border: none;
    
/*    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    border-right: 1px solid rgba(233, 241,223, 1);
    border-left: 1px solid rgba(233, 241,223, 1);
    border-bottom: 1px solid rgba(233, 241,223, 1);
    border-top: 1px solid rgba(233, 241,223, 1);*/
}

#graphLayers {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

#textNeighbors{
/*    position: relative;
    right: 161px;
    bottom: 3px;
    color: rgb(76,76,76);*/
    float: right;
}

.dataText{
    right: 32px;
}

.graphText{
    right: 0px;  
}

.zoomText{
    right: 32px;  
}

.somText{
    right: 238px;  
}

.about_images div {
  display: inline-block;
}

.top{
    background: #FA7951;
    position: absolute;
    top: 0;
    width: 19.9%;
    height:100px;
    z-index: 4;
    border-right: 1px solid rgba(233, 241,223, 1);
    border-bottom: 1px solid rgba(233, 241,223, 1);
}

.bottom {
    background-color: #D34031;
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 80%;
    height:7vh;
    z-index: 4;
}

.options {
    background: rgb(210,210,210);
    position: absolute;
    width: 20%;
    left: 0;
    top: 30px;
    bottom: 0px;
    z-index: 2;
}

label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

label[for="file-selector"] {
    height: auto;
    font-size: 12pt;
    font-weight: 400;
}

label[for="file-selector"]:visited {
    background-color: #e75332;
    color: white;
}

.layerBoxes{
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.resetLayer{
    font-size: .08em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 20px;
    line-height: 8pt;
    background-color: #D34031;
    color:white;
    text-align: center;
    text-transform: uppercase;
}

.resetLayer:hover {
    background-color: #E5B5AA;
}

.showPaletteOnly {
    position: absolute;
    float: right;
}

.btn {
    border-radius: 0;
    /* padding: 6px 0; */
}

.btn:active, .btn.active {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.focus {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}



.btn-voxel {
    width: 5vw;
    height: 5vw;
    background-color: transparent;
    float: right;
}

.btn-mapviewer {
    background-color: rgb(220, 220, 220);
    font-family: 'Roboto', sans-serif;
    color: black;
    border-radius: 5px;
    width: 5vw;
    float: right;
    margin-top: 2vh;
}

.btn-mapviewer:hover {
    background-color: rgb(150, 150, 150);
    color: white;
}

.sp-palette {
    max-width: 10px;
}

.bottomWidgets {
    position: absolute;
    left: 20%;
    bottom: 0;
    width: 80%;
    height: 7vh;
    z-index: 4;
    /*padding-top: 1vh;*/
    line-height: 5vh;
    vertical-align: center;
    display: block;
}

.bottomOptions {
    position: relative;
    z-index: 2;
    left: 2vw;
    height: 7vh;
}

.gridStatus label{
    /*position: relative;*/
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
}

.gridBox {
    align-content: middle;
}

.threeD {
    position: relative;
    z-index: 2;
    left: 0px;
    padding-left: 9px;
}

.bottomOptions label{
    position: relative;
    font-size: 14px;
    line-height: 7vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    bottom: 0px;
    padding-left: 7px;
}

.bottomBox {
    position: relative;
    left: 7px;
    bottom: -1px;
}

input[type=checkbox]{
  margin-left: 5px;
  margin-right: 5px;
}

label {
    font-family: 'Roboto', sans-serif;
}

.layer-label {
    font-size: 11pt;
    text-transform: uppercase;
}

.voxel-label {
    margin-top: 10px;
    font-size: 12pt;
}

.sliderCell {
    position: relative;
    height: 7vh;
}

.basicSliders {
    position: relative;
    width: 80%;
    height: 12px;
    right: 0px;
    float: left;
}

.slidersBottom {
    position: absolute;
    width: 80%;
    height: 12px;
    right: 0px;
    float: left;
}

.neighborSliders {
    position: relative;
    width: 80%;
    height: 12px;
    right: 0px;
    float: left;
}

.slidersText {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.sliderName {
    display: inline;
    float: left;
    line-height: 20px;
}

.sliderValue{
    display: inline;
    padding-left: 5px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    height: 5vh;
    float: none;
}

.rangeSliders  {
    position: relative;
    width: 55%;
    height: 10px;
    right: 0px;
    float: right;
}

.slidersOpacity  {
    position: relative;
    width: 100%;
    height: 3vh;
    top: 4px;
    right: 0px;
}

#allOpacity {
    padding-top: 3vh;
}

#allNeighbors {
    padding-top: 3vh;
    padding-bottom:  3vh;
    position: relative;
    /*height: 3vh;*/
    width: 80%;
    /*top: 4px;*/
    right: 0px;
    float: left;
}

#opacityName {
    padding-right: 2px;
}

.slidersOpacity.ui-slider .ui-slider-handle {
    width:.62em;
    height: .62em;
}

.slidersOpacity.ui-slider-horizontal .ui-slider-handle {
    top: -.15em;
}

.layerName {
    position: center;
    float: left;
    line-height: 20px;
    width: 60%;
}

.ui-slider .ui-slider-handle {
    width:1em;
    height: 1em;
    /*text-decoration:none;*/
    /*text-align:center;*/
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.17em;
    /*margin-left: -.6em;*/
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

.nodes {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(100,100,100);
    position: relative;
    width: 80%;
    text-align: left;
    margin: 0;
}

.nodes ul p {
    /*border-bottom: 2px solid rgba(0,0,0,0);*/
    margin-bottom: 0;
    margin-top: -10px;
    font-family: 'Roboto', sans-serif;
}

.nodeNamesSelected {
	/*border-bottom: 2px solid #f55 !important;*/
	width: 100%;
	margin:0 auto;
}

.nodes ul p:hover {
	background-color: rgba(100,100,100,0.3);
	cursor: pointer;
}

.copyright {
	font-size: 10px;
	color: rgb(100,100,100);;
    bottom: 8vh;
    position: absolute;
    right: 10px;
    z-index: 1;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    /*border: 1px solid #003eff;*/
    /* background: #007fff; */
    font-weight: normal;
    color: #ffffff;
}

.buttons {
    height:30px;
    bottom: 0px;
    line-height: 30px;
    border-radius: 0;
    z-index: 5;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    display: inline-block;
    color: black;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #D34031;
    border: none;
    padding: 0;
}

.buttons:active, buttons:focus {
    background-color: #B2322B;
    color: white;
}

.buttons:hover {
	background-color: #B2322B;
	cursor: pointer;
    color: white;
}

.tooltip {
    background-color: transparent;
    height: auto;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 5vw;
}

.mydiv {
    /*float: left;*/
    margin: 0px;
    height: 22px;
    margin-top: 10px;
    transform: translateY(-18%);
    overflow: hidden;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.mydiv .rightAlign {
    text-align: right;
    float: right;
}

.layerBoxes {
    display: block;
    float: left;
    width: 100%;
    /*border-top: 1px solid white;*/
    padding-top: 1px;
    margin-top: -2px;
    font-family: 'Roboto', sans-serif;
}

.layerBoxes button {
    /*padding: 0px !important;*/
    /*height: 18px !important;*/
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 300;
    width: 17%;
    float: right;
    text-align: center;
}

.layerBoxes input {
    /*padding: 0px !important;*/
    /*height: 15px !important;*/
    width: 6%;
    position: relative;
    top: 100%;
    /*transform: translateY(-50%);*/
}

.buttonsText {
    /*position: absolute;*/
    /*z-index: 10;*/
    /*bottom: 0;*/
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    vertical-align: middle;
    color: white;
    text-align: center;
}

.sp-replacer{
    width: 6%;
    position: relative;
    top: 50%;
    /*transform: translateY(-50%);*/
}

.sliderCell.opacity {
    position: relative;
    padding-bottom: 10px;
}

/*@media (min-width: 768px)*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
}
.navbar-inverse .navbar-brand {
    color: white;
}

.nav-container {
    height: 120%;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li {
    height:100%;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    padding-left: .8vw;
    padding-right: .8vw;
    height: 100%;
}

.navbar-brand {
    float: left;
    font-size: 24px;
    padding-top: 0!important;
    padding-bottom: 0!important;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.progress-bar {
    width: 100%;
    height: 40px;
    background: #e75332;
    border-radius: 0px 0px;
}

.progress {
    background-color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
}


/* Begin Progress Tracker CSS*/
.progress-tracker-body {
    /* background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);  */
    padding: 12px 0px 8px 8px;
    margin: 0;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
    background-color: black;
    display: block;
    top: 100%;
    left: -50%;
    right:11%;    
    position: absolute;
    max-width: 210px;
    /* max-height: 310px; */

}
#widget-menu {
    display: flex;
    flex-flow: row wrap;
}
#jobList{
    -webkit-padding-start: 10px!important;
    -webkit-padding-end: 10px!important;
    overflow-y: auto;
    max-height: 310px;
    padding-top:4px;
    
}
#widget-menu .container {
    width: auto;
    align-content: left;
}


#widget-menu .progress-bar {
    width: 100%;
    height: 20px;
    float: none;
    display: block;    
}

#widget-menu .button {
    float: right;
    display: inline-block;
    
}
.dropdown-toggle{
    width: 143px!important;
}

.menu-item {
    flex: 1;
    justify-content: left;
    position: relative;
    width: 100%;
    max-width: 200px;
    text-overflow: ellipsis;
    margin: 5% auto;
    background: #FAFAFA;
    background-color: #FAFAFA;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E7EEF4');
    background: -moz-linear-gradient(top, #FAFAFA, #E7EEF4);
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E7EEF4));
    height: auto;
    padding: 10px; 
    border: solid 1px #DCDCDC;
    border-bottom: solid 1px #98B1C7;
    -moz-border-radius: .5em; 
    -webkit-border-radius: .5em;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

#widget-menu .fa {
    background:  linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.1em 0.125em;
    position: absolute;
    left: 3px;
    top: 3px;
    cursor: pointer;
}

.pflash {
    margin-bottom: 0px;
}

#widget-menu .fa-question {
    top: -8px !important;
    left: -5px;
}

#widget-menu .fa-refresh {
    top: -8px !important;
    left: calc(150px + 1.4vw);
}

.menu-item .progress-label {
    position: relative;
    margin-left: 5px;
    text-overflow: ellipsis;
}

.tooltiper {
    max-width: 130px;
    position: relative;
    display: inline-block;
    color: rgb(38, 37, 37);
    perspective: 600px;
    text-overflow: ellipsis;
    transform-style: preserve-3d;
    overflow-wrap: break-word;
  }
  
  .tooltiper .tooltip {
    max-width: unset;
    min-width: 100px;
    /* max-width:350px; */
    position: absolute;
    /* font-size: 3vh; */
    text-align: left;
    background: rgb(38, 37, 37);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    top: 0;left: 0;
    line-height: 1.4em;
    transform: rotateX(90deg) translateZ(0px);
    opacity: 0;
    transition: transform 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53), opacity 0.1s ease-out 0.1s;
  }

  .tooltiper:hover .tooltip {
    transform: rotateX(0) translateZ(20px);
    opacity: 1;
    transition: transform 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53), opacity 0.1s ease-out;
    z-index: 1000;
  }

  .tooltiper .tooltip:after {
    content:"";
    position: absolute;
    left: 20px;
    bottom: -7px;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-color: rgb(38, 37, 37) transparent transparent transparent;
    z-index: 1000!important;
    
  }
  .tooltiper .tooltip.no-after:after{content:none; display:none;}

/***
  .widget-modal-wrapper {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto; 
   }
   
   .widget-modal-body {
       position: fixed;
       margin-left: auto;
       margin-right: auto; 
       left: 12.5vw;
       top: 12.5vh;
       z-index: 1000;
       width: 75vw;
       height: 75vh;
       padding:1vh 1vh;
       margin: 1vh 1vh 0px 0px;
       -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
       -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
       box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
       background-color: white;
   
   }
   #widget-modal {
       display: inline-block;
       width: 100%;
       height: 100%;
       padding: 10px;
       justify-content: center;
   
   }
   
   #widget-modal .title {
       font-size: 30px;
       margin: 10px;
       font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
       color: rgba(0, 0, 0, 0.6);
     }
   

**/

  /* end porgress tracker CSS*/