.thumbnail {
	border-radius: 0px;
	border: 3px solid #ff5d44;

	opacity:0.9;
	transition: 1s ease;
}

.thumbnail:hover {
	opacity:1;
	transition: 1s ease;

	border: 3px solid #D34031;
}

.thumbnail .datalayer {
	padding: 0;
}

.thumbnail { 
	padding: 0;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
	border: none;
	border-radius: 0;
}

.leaflet-bar a:last-child, .leaflet-bar a:first-child {
	border-radius: 0;
	color: #D34031;
}

.leaflet-bar a:hover {
	background-color: #ff5d44;

	transition: 1s ease;
}

.leaflet-container .leaflet-control-attribution {
	background-color: transparent;
}