@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);
@import 'https://fonts.googleapis.com/css?family=EB+Garamond';
@import 'https://fonts.googleapis.com/css?family=Karla:400,700';
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext');

/*(255, 93, 68) #ff5d44 */
/* background: #D34031; */



body {
  color: #1A1A1A;
}

p {
    font-family: 'EB Garamond', serif;
    color: #1A1A1A;
    font-size: calc(10px + 1.5vh);
}

a:link {
    color: #1A1A1A;
}

.label-body {
    font-family: 'Karla', sans-serif;
    font-size: 10pt;
}

.note {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: calc(6px + 1.5vh);
}

h1, h2, h3 {
    font-family: 'Karla', sans-serif;
}

h2 {
    font-size: calc(20px + 1.5vh);
}

h4 {
    text-align: right;
    font-family: 'Karla', sans-serif;
    font-size: 18pt;
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

/**************************/
/* NAVBAR */
nav navbar.navbar-inverse.navbar-fixed-top.container {
    width: 90vw;
    height: 100%;
}

.nav {
    height: 100%;
}

.nav-container {
    width: 90vw;
    height: 100%;
}

.navbar-inverse { 
    background: #ff5d44;
    border-color: transparent;
    height: 80px;
    padding-top:2vh;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
}
.w3-label{
    color: #333;
}
/* title */
.navbar-inverse .navbar-brand {
    color: black;
    opacity: 1;

    transition: 0.5s ease;
}
.navbar-inverse .navbar-brand:hover {
    color: white;
    opacity: 0.8;

    transition: 0.5s ease;
}
/* link */
.navbar-inverse .navbar-nav > li > a,
.navbar-nav > li > ul > a {
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 12pt;
    text-shadow: none;
    border: none;
    height: 100%;
}

.navbar-nav > li.dropdown > a {
    color: black;
}

.navbar-nav > li.dropdown > ul > a.li.dropdown-item {
    color: white;
    padding-left: 25px;
    padding-bottom: 25px;
    border-radius: 0;
}

ul.dropdown-menu {
    border-radius: 0;
    /*border-top: 2px solid #F9CBC2;*/
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    position: absolute;
    top: 100%;
    /*background-color: #ff5d44;*/
    /*background-color: #F9CBC2;*/
    background-color: black;
}

.dropdown {
    height: 100%;
}

.navbar .nav > li > .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 48%;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
    border-left: 6px solid transparent;
    content: '';

    transition: 0.2s ease;
  }


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: transparent;
    border: none;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: black;
    text-decoration:underline;
}

/* mobile version */
.navbar-inverse .navbar-toggle {
    border-color: rgb(245,165,3);
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(245,165,3);
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgb(245,165,3);
}

/**************************/
/* INDEX */

.brand-title {
    margin: 0;
    background-image: url(/images/blue_circles_1.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-size: 100vw auto;*/
    background-position: 0vw 0vh;
    stroke: 8px;

    -webkit-background-size: 100vw auto;
    background-size: ;

    transition:all 5s ;
    -webkit-transition:all 5s ;
    -o-transition:all 5s ;
    -moz-transition:all 5s ;

    -webkit-animation-name: move-in; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: move-in;
    animation-duration: 4s;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);

    -webkit-animation-timing-function: ease-out; /* Chrome, Safari, Opera */
    animation-timing-function: ease-out;
}

.brand-title:hover {
  background-size: 150vw auto;
  background-position: -10vw -10vh;
}

.red-circle-bg {
    background-image: url(/images/red_circles.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw auto;
    background-position: -30vw 0vh;

    width: 100vw;

    transition:all 4s ;
    -webkit-transition:all 4s ;
    -o-transition:all 4s ;
    -moz-transition:all 4s ;

    -webkit-animation-name: move-in; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 5s; /* Chrome, Safari, Opera */
    animation-name: move-in;
    animation-duration: 5s;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);

    -webkit-animation-timing-function: ease; /* Chrome, Safari, Opera */
    animation-timing-function: ease;
}

.no-margin { 
    margin-left: 0;
    margin-right: 0;
 }

 .margin {
    margin-left: 5vw;
    margin-right: 5vw;
 }

 .full-width { 
    width: 100vw;
}

.red-circle-bg:hover {
  background-size: 120vw auto;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes move-in {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes move-in {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

.spacing {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.spacing-small {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.spacing-large {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.site-title {
    padding-top:20vh;
    padding-bottom: 5vh;
    font-weight: 700;
}

h1.site-title {
    font-size: 8vh;
}

/*body*/

.jumbotron {
    /*background-color: #E8E8E8;*/
    background-color: white;
    height: 90vh;
}

.transparent {
    background-color: transparent;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

/*button login*/
.btn-success {
    color: rgb(76,76,76);
    background-color: rgba(233, 241,223, 1);
    border-color: rgba(233, 241,223, 1);
}

.btn-success:hover {
    background-color: rgb(76,76,76);
    border-color: rgb(76,76,76);
}

.btn-primary {
    border-color: none;
}

.btn-jumbotron {
    height: 10vh;
    width: 10vw;
    font-size: 1.8vmin;
    line-height: 8vh;
    background-color: transparent;
    border: none;

    transition: 1s ease;
}

.btn-gray {
    color: #333333;
    font-family: 'Karla', sans-serif;
    background-image: url(/images/circle.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    text-anchor: middle;
    text-transform: uppercase;
    font-weight: bold;
    alignment-baseline: middle;
    display: inline-block;
    vertical-align: middle;

    transition: 1s ease;
}

input[type=file] {
    display: none;
}

input[type=password], textarea {
    background-color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.custom-upload {
    display: inline-block;
    cursor: pointer;
}

.btn-small {
    height: 14vmin;
    width: 14vw;
    font-size: 2vmin;
    line-height: 12vmin;
}

.btn-jumbotron-text {
    height: 20vh;
    vertical-align: middle;
}

.btn-jumbotron:hover {
    background-image: url(/images/dark_circle.svg);

    transition: 1s ease;
}

.btn-gray:hover, .btn-gray:active, .btn-gray:focus {
    background-image: url(/images/dark_circle.svg);

    transition: 1s ease;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(76,76,76);
    border-color: rgb(76,76,76);

    transition: 1s ease;
}

.btn:active, .btn.active {
    border-color: transparent;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    border-color: transparent;
}

/*login*/
body {
  background-color:#fff;

}
.selected_layer {
    /*border: 5px inset #e67e22;*/
    /*background-color: #FCE3D9;*/
    /*background-color: #F1D9D0;*/
    background-color: #ff5d44;
}

.thumbnail .caption {
    color: black;
}

.fa-spinner{
    margin: 45% 45%;
}
.temporary_map_visuals{
    border: 1px solid #CCC;
    background: #EEE;
}

.form-control {
    border-radius: 0;
}

.form-input-line {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 5px;
    border-left-width: 0;

    border-radius: 0;
    box-shadow: none;

    background-color: white;

    font-family: 'Karla', sans-serif;
    font-size: 14pt;
    color: black;
}

textarea:focus, .form-control:focus, input:focus, input:active{
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;

    transition: 1s ease;

    border-color: #ff5d44;
}

*:focus {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.wrapper {
    text-align: center;
}

.footer p {
    font-family: 'Karla', sans-serif;
    font-size: 2vmin;
    position: relative;
    bottom: 0;
    padding-left: 3vw;
    width: 100%;
    height: 60px;
}

.margin-small {
    margin-left: 5vw;
    margin-right: 5vw;
}

/*************
/* LEAFLET */

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-family: 'Karla', sans-serif;
}

.leaflet-container a {
    color: #ff5d44;
}

.modal-content {
    border-radius: 0px;
    border: none;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

