@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);
@import 'https://fonts.googleapis.com/css?family=EB+Garamond';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

body {
  color: #1A1A1A;
}

p {
    font-family: 'EB Garamond', serif;
    color: #1A1A1A;
    font-size: 2.5vh;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 4vh;
}

h4 {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}

/**************************/
/* NAVBAR */
.navbar-inverse { 
    background: #D34031;
    border-color: transparent;
    height: 10vh;
    padding-top:2vh;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.26);
}

/* title */
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand:hover {
    color: white;
}
/* link */
.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    text-shadow: none;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: white;
    text-decoration:underline;
}

/* mobile version */
.navbar-inverse .navbar-toggle {
    border-color: rgb(245,165,3);
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(245,165,3);
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgb(245,165,3);
}

/**************************/
/* INDEX */

.brand-title {
    margin: 0;
    background-image: url(/images/blue_circles.svg), url(/images/red_circles.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-size: 100vw auto;*/
    background-position: 30vw -20vh;

    -webkit-background-size: 100vw auto;
    background-size: ;

    transition:all 5s ;
    -webkit-transition:all 5s ;
    -o-transition:all 5s ;
    -moz-transition:all 5s ;

    -webkit-animation-name: move-in; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: move-in;
    animation-duration: 4s;

    -webkit-animation-timing-function: ease-out; /* Chrome, Safari, Opera */
    animation-timing-function: ease-out;
}

.brand-title:hover {
  background-size: 150vw auto;
  background-position:  0vw 10vh;
  opacity: 0.9;
}

.red-circle-bg {
    background-image: url(/images/red_circles.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw auto;
    background-position: 20vw 40vh;

    transition:all 2s ;
    -webkit-transition:all 2s ;
    -o-transition:all 2s ;
    -moz-transition:all 2s ;

    -webkit-animation-name: move-in; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: move-in;
    animation-duration: 4s;

    -webkit-animation-timing-function: ease-out; /* Chrome, Safari, Opera */
    animation-timing-function: ease-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes move-in {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes move-in {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

.spacing {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.spacing-small {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.spacing-large {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.site-title {
    padding-top:20vh;
    padding-bottom: 5vh;
    font-weight: 700;
}

/*body*/

.jumbotron {
    /*background-color: #E8E8E8;*/
    background-color: white;
    height: 100vh;
}

.transparent {
    background-color: transparent;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

/*button login*/
.btn-success {
    color: rgb(76,76,76);
    background-color: rgba(233, 241,223, 1);
    border-color: rgba(233, 241,223, 1);
}

.btn-success:hover {
    background-color: rgb(76,76,76);
    border-color: rgb(76,76,76);
}

.btn-primary {
    border-color: none;
}

.btn-jumbotron {
    height: 20vh;
    width: 20vw;
    font-size: 3vh;
    line-height: 17vh;
}

.btn-gray {
    color: black;
    font-family: 'Roboto', sans-serif;
    background-image: url(/images/circle.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    text-anchor: middle;
    alignment-baseline: middle;
    display: inline-block;
    vertical-align: middle;
}

.btn-small {
    height: 14vh;
    width: 14vw;
    font-size: 2vh;
    line-height: 12vh;
}

.btn-jumbotron-text {
    height: 20vh;
    vertical-align: middle;
}

.btn-jumbotron:hover {
    background-image: url(/images/dark_circle.svg);
}

.btn-gray:hover {
    background-image: url(/images/dark_circle.svg);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(76,76,76);
    border-color: rgb(76,76,76);
}

/*login*/
body {
  background-color:#fff;

}

.fa-spinner{
    margin: 45% 45%;
}
.temporary_map_visuals{
    border: 1px solid #CCC;
    background: #EEE;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    position: relative;
    bottom: 0;
    padding-left: 3vw;
    width: 100%;
    height: 60px;
}