extends ../layoutSidePage

block pageTitle
  div.container.login-container
    div.row
      div.col-md-offset-4.col-md-4
        form(method="post", action="/users/reset-password")
          h2.spacing.prompt Change Password
          if !(message == '')
            .alert.alert-danger(role='alert') #{message}
          div(data-role='fieldcontain').form-group
            fieldset(data-role='controlgroup')
              label(for="password").
                Password Reset
              input(type="password", id="password", class="form-control form-input-line", name="password", placeholder="Enter new password here")
              br
              input(type="password", id="passwordVerify", class="form-control form-input-line", name="passwordVerify", placeholder="Confirm new password here")
              br
          div(data-role='fieldcontain').spacing   
            input(type='submit',value='Change Password',data-transition='fade', data-theme='c', class="btn btn-gray btn-sm")