extends ../layoutSidePage

block pageTitle
  div.container.login-container
    div.row
      div.col-md-offset-3.col-md-6
        form(method="post", action="/users/login")
          h2.spacing.prompt Welcome!
          if !(message == '')
            .alert.alert-danger(role='alert') #{message}
          div(data-role='fieldcontain').form-group
            fieldset(data-role='controlgroup')
              label(for="email").
                Username
              input(type="text", id="email", class="form-control form-input-line", name="username", placeholder="newuser@gmail.com")
              br
          div(id='hiddendiv',data-role='fieldcontain')
            fieldset(data-role='controlgroup')
              label(for="password").
                Password
              input(type="password", id="password", class="form-control form-input-line", name="password")
              br
          div.spacing
          .col-md-3
            div(data-role='fieldcontain')   
              input(type='submit',value='Sign In',data-transition='fade', data-theme='c', class="btn btn-outline-primary")
          .col-md-3
            div(class="btn btn-outline-primary")
              a(href="/users/reset-password").
                Forgot Password?
            //- form(method="get", action="/users/reset-password") 
            //-   input(type='submit',value='Forgot Password?', data-theme='c', class="btn btn-outline-primary", onclick="")
          div.spacing

        br
        br
        a.btn.btn-block.btn-social.btn-google(href="./google_oauth")
            span.fa.fa-google
            |  Sign in with Google
        br
        a.btn.btn-block.btn-social.btn-facebook(href="./facebook_oauth")
          span.fa.fa-facebook
          |  Sign in with Facebook

