extends ../layout

block pageTitle
  div.container.login-container
    div.row
      div.col-md-offset-4.col-md-4
        form(method="post", action="/users/reset-password-email")
          h2.spacing.prompt Reset Password
          if !(message == '')
            .alert.alert-danger(role='alert') #{message}
          div(data-role='fieldcontain').form-group
            fieldset(data-role='controlgroup')
              label(for="email").
                Email
              input(type="text", id="email", class="form-control form-input-line", name="username", placeholder="Enter email here")
              br
          div(data-role='fieldcontain').spacing   
            input(type='submit',value='Send Email',data-transition='fade', data-theme='c', class="btn btn-gray btn-sm")