extends ../layout

block pageTitle
  div.container.login-container
    div.row
      div.col-md-offset-4.col-md-4
        if !(message == '')
          .alert.alert-danger(role='alert') #{message}
        form(method="post", action="/users/signup")
          h2.spacing.prompt Create an account.
          div(data-role='fieldcontain').form-group
            fieldset(data-role='controlgroup')
              label(for="email").
                Username
              input(type="text", id="email", class="form-control input-sm chat-input", name="username", placeholder="newuser@gmail.com")
              br
          div(id='hiddendiv',data-role='fieldcontain')
            fieldset(data-role='controlgroup')
              label(for="password").
                Password
              input(type="password", id="password", class="form-control input-sm chat-input", name="password")
              br
          div(id='hiddendiv',data-role='fieldcontain')
            fieldset(data-role='controlgroup')
              label(for="confirm_password").
                Confirm Password
              input(type="password", id="confirm_password", class="form-control input-sm chat-input", name="confirm_password")
              br
          div(data-role='fieldcontain').spacing  
            input(type='submit',value='Sign Up',data-transition='fade', data-theme='c', class="btn btn-gray btn-sm")

