extends ../layout

block pageTitle
  div(class='jumbotron')
  div(class="container")
    div(class="row")
      div(class="col-md-offset-5 col-md-3")
        if !(message == '')
          .alert.alert-danger(role='alert') #{message}
        form(method="post", action="/users/signup")
          h4 Create an account.
          div(data-role='fieldcontain')
            fieldset(data-role='controlgroup')
              label(for="email").
                Username
              input(type="text", id="email", class="form-control input-sm chat-input", name="username")
              br
          div(id='hiddendiv',data-role='fieldcontain')
            fieldset(data-role='controlgroup')
              label(for="password").
                Password
              input(type="password", id="password", class="form-control input-sm chat-input", name="password")
              br
          div(id='hiddendiv',data-role='fieldcontain')
            fieldset(data-role='controlgroup')
              label(for="confirm_password").
                Confirm Password
              input(type="password", id="confirm_password", class="form-control input-sm chat-input", name="confirm_password")
              br
          div(data-role='fieldcontain')   
            input(type='submit',value='Sign Up',data-transition='fade', data-theme='c', class="btn btn-primary btn-block")

